In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

df = pd.read_csv('titanic.csv')

# Mode

In [3]:
df[(df['Sex'] == 'male') & (df['Survived'] == 1)]['Age'].sum()/len(df[(df['Sex'] == 'male') & (df['Survived'] == 1) & (pd.notnull(df['Age']))])

27.276021505376345

In [5]:
df[(df['Sex'] == 'male') & (df['Survived'] == 1)]['Age'].mean()

27.276021505376345

In [11]:
male_surv_age = df[(df['Sex'] == 'male') & (df['Survived'] == 1)]['Age'].dropna()

In [12]:
def compute_mean(dataset):
    return sum(dataset)/len(dataset)

In [14]:
compute_mean(male_surv_age)

27.276021505376345

In [15]:
print(df[(df['Sex'] == 'male') & (df['Survived'] == 1)]['Age'].dropna().agg(compute_mean))

27.2760215054

# Median

In [19]:
df[(df['Sex'] == 'male') & (df['Survived'] == 1)]['Age'].dropna().median()

28.0

In [26]:
def compute_median(data):
    data = data.sort_values()
    count = len(data)
    if count < 1:
        return []
    if count % 2 == 1:
        return data[(count-1) /2]
    else:
        return (data[(count//2)] + data[((count)//2)-1])/2

# Mode

In [69]:
def compute_mode(data):
    hist = {}
    for item in data:
        if item in hist.keys():
            hist[item] += 1
        else:
            hist[item] = 1
    return hist.get(max(i for i in hist.values()))

In [71]:
n = [1,1,1,1,1,1,1,2,2,2,3,3,3,3,4,4,4,4,4,5]
compute_mode(n)

In [33]:
np.percentile(df['Fare'].dropna(), 75)

31.0

In [34]:
df['Fare'].quantile(0.75)

31.0

In [40]:
float(df[df['Fare'] <= 31]['PassengerId'].count())/df['Fare'].count()

0.7508417508417509